<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Peripheral Application</name>
    <description>
        The peripheral application in a BLE process
    </description>
    <author email="aaron_roles93@hotmail.com" href="http://about.me/aroles">
        Aaron Roles
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-background-mode" spec="0.6.5" />   
    <plugin name="cordova-plugin-bluetoothle" spec="4.3.0" />
</widget>
